.topnav {
  background-color: #993300;
  overflow: hidden;
  border-radius: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #99ffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ff0000;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ff0000;
  color: white;
}
.logout {
  float: right;
  color: red
}
.topnav {
  text-align: right;
  border-radius: 5px;
  position: fixed;
  top: 0;
  width: 100%;
}
